# Autotools generated
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
ar-lib
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
config.lt
ltmain.sh
m4/
missing
stamp-h1

# Build artifacts
*.o
*.lo
*.la
*.a
*.libs/
.libs/
.deps/
.dirstamp
src/.libs/
src/.deps/
src/.dirstamp
so_locations

# Tags/IDE
TAGS
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope.*
